.loginForm {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.loginForm input {
  padding: 0.2rem;
  font-size: 1rem;
}

.formWrapper {
  max-width: 25ch;
  margin: auto;
  margin-top: 5rem;
}

.formInputs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.submitButton > button {
  padding: 0.8rem;
  width: 15ch;
  border: none;
  border-radius: 100px;
  background-color: var(--lapis-lazuli);
  color: white;
}

.submitButton > button:hover {
  background-color: #0f394e;
  cursor: pointer;
}
