nav {
  display: flex;
  list-style-type: none;
  gap: 1rem;
  background-color: var(--pacific-cyan);
  color: white;
  padding: 1rem;
}

a {
  color: white;
  text-decoration: none;
}

.Logo {
  letter-spacing: 0.1ch;
}
