.createrequest-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 30ch;
  /* margin: 5rem auto; */
  margin: auto;
  padding: 2rem;
  border-radius: 5px;
  /* box-shadow: 1px 1px 4px rgb(163, 163, 163); */
}

.createrequest-form input {
  font-size: 1rem;
}

.createrequest-form select {
  font-size: 1rem;
}

.createrequest-form div {
  display: flex;
  gap: 1rem;
  align-items: center;
}

select {
  font-size: 2rem;
}

.createrequest-form input[type="submit"] {
  width: 150px;
  border: none;
  padding: 0.7rem;
  background: rgb(70, 139, 223);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 2.5px;
  transition: background-color 0.3s ease-in-out;
}

label {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.createrequest-form input[type="submit"]:hover {
  background-color: #0c2d5e;
}

.createrequest-form input[type="select"] {
  background-color: red;
}

.success-message {
  position: fixed;
  top: 7vh;
  left: 70px;
  z-index: -1;
  padding: 1rem;
  color: white;
  width: 25ch;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  background-color: rgb(119, 205, 119);
}
