.requestform {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.pendingreqSend {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.pendingreqSend > div {
  display: flex;
  gap: 0.5rem;
}

.pendingreqSend > input {
  width: 150px;
  border: none;
  padding: 0.7rem;
  background: rgb(70, 110, 223);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 2.5px;
  transition: background-color 0.3s ease-in-out;
}

.pendingreqSend > input:hover {
  background: rgb(60, 95, 190);
}

.fetch-pendingrequest-button {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  width: 200px;
  z-index: 99;
  border: none;
  padding: 1rem;
  background: rgb(78, 78, 80);
  color: white;
  font-size: 0.8rem;
  font-weight: 700;
  cursor: pointer;
  border-radius: 2.5px;
  transition: background-color 0.3s ease-in-out;
  margin-bottom: 1rem;
}

.fetch-pendingrequest-button:hover {
  background-color: rgb(44, 44, 44);
}

.pendingrequests {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.successMessage {
  padding: 0.5rem;
  /* background: rgba(49, 137, 47, 0.808); */
  border-radius: 2.5px;
  text-align: center;
  color: rgba(49, 137, 47);
}
