:root {
  --crimson: #d62839;
  --rose-red: #ba324f;
  --lapis-lazuli: #175676;
  --pacific-cyan: #4ba3c3;
  --columbia-blue: #cce6f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  margin-left: 6ch;
  padding: 1rem;
}
